<h1 style="color: white;">Ruby demo with Ruby on Rails!</h1>
<div class="pokedexApp">
    <a href="http://localhost:3000/pokemon">
        <img src="https://img.rankedboost.com/wp-content/uploads/2016/07/Pokemon-Go-Pok%C3%A9dex-300x229.png" alt="Pokedex App" style="width:100px;height:100px;" >
    </a>
    <br>
    <p style="color: white;">
        Pokedex App
    </p>
</div>

